* {
    margin: 0;
}

body {
    background: #141414;
    overflow-x: hidden;
}

#profile-image {
    width: 35px;
    height: 35px;
}

.profile-button {
    background: transparent;
    border: none;
    color: white;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    margin-right: 20px;
}

.profile-button:hover {
    color: rgb(63, 63, 63);
    text-decoration: none;
    border-radius: 0px;
    background: transparent;
}

.profile-button:focus {
    background: transparent;
    outline: none;
    box-shadow: none;
}

.bg-color {
    background: #141414;
}

.kids-text {
    text-align: center;
    color: white;
    margin-right: 25px;
    margin-bottom: 2px;
}

.search-icon {
    margin-right: 25px;
    margin-bottom: 5px;
}

.bell-icon {
    margin-bottom: 5px;
    margin-right: 15px;
}

.tv-shows {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 40px;
    position: relative;
}

.genres-button {
    margin-left: 30px;
    border-radius: 0px;
    border: 1px solid white;
    background: black;
    width: 110px;
    text-align: left;
    font-weight: 500;
}

.genres-button:hover {
    background: black;
}

.genres-button:focus {
    background: black;
    outline: none;
    border: 1px solid white;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 25px;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-toggle-new::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.netflix-logo {
    width: 100px;
    height: 50px;
}

.double-button {
    position: absolute;
    right: 0;
    margin-right: 100px;
}

.double-buttons {
    border-radius: 0px;
    background: #141414;
    border: 1px solid white;
    color: gray;
    width: 55px;
    text-align: center;
    height: 40px;
}

.double-buttons:hover {
    background: rgb(71, 71, 71);
}

.double-buttons:focus {
    background: rgb(71, 71, 71);
    box-shadow: none;
    border: 3px solid rgb(255, 255, 255);
}

#service-code {
    background: #141414;
    color: grey;
    border: 1px solid grey;
    font-size: 13px;
    padding: .5em;
    height: 35px;
    margin-left: 12px;
}


#service-code:hover {
    background: rgb(71, 71, 71);
    color: white;
}


.color-p-in-col {
    color: grey;
}

.social-links {

    color: grey
}

.socials {

    margin-top: 30px;
    padding-left: 10px;
}

.icons {
    width: 36px;
    height: 25px;
}

.social-box {

    margin-right: 15px;
    margin-bottom: 1em;
    width: 36px;
    height: 27px;
}

.social-links:hover {
    color: grey;
}

.text-underline:hover {
    
    color:grey;
    border-bottom: 1px solid grey;
}

a {
   
     color: grey; 
}

form {
    color: white;
    width: 40%;
    margin-top: 100px;
}

.genre {

    color:white;
    min-height: 30vh;
    
}

.card {
    width: 30vh;
    height: 20vh;
    margin-top: 10px;
    border-radius: 0;
}

h3 {
    width: 100%;
}

#moviesContainer {

    margin: 0;
    padding: 70px;
}